<div class="card text-center">

    <app-search></app-search>


<div class="panel-group" id="accordion">
  <!-- First Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title p-3 mb-2  text-dark"  data-toggle="collapse" data-target="#collapseOne">
        List of String Similar Words
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="container-fluid">
            <ul class="list-inline margin">
              <li class="list-inline-item" *ngFor="let s of stringSimilarWords, let isLast=last">
                {{s.word}}{{isLast ? '' : ', '}}</li>
            </ul>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

  <!-- Second Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title p-3 mb-2 bg-light text-black" data-toggle="collapse" data-target="#collapseTwo">
        List of End With Words
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <div class="container-fluid">
            <ul class="list-inline margin">
              <li class="list-inline-item" *ngFor="let s of endsWithWords, let isLast=last">
                {{s.word}}{{isLast ? '' : ', '}}
              </li>
            </ul>
          </div>
        </blockquote>
      </div>
    </div>
  </div>

 

  <!-- Third Panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title p-3 mb-2 bg-light text-black" data-toggle="collapse" data-target="#collapseThree">
        Word Information
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card-header p-3 mb-2 bg-info text-white">
              Rank
            </div>
            <div class="card">

              <div class="card-body">
                <p class="card-text">Absolute Rank: {{wordInformation.absoluteRank}}</p>
                <p class="card-text">Relative Rank: {{wordInformation.relativeRank}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-header p-3 mb-2 bg-info text-white">
              Frequency
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">Frequency: {{wordInformation.frequency}}</p>
                <p class="card-text">Document Frequency: {{wordInformation.documentFrequency}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>