<div class="card">
    <!-- <img src="./assets/images/5.png" alt="John" style="width:100%"> -->
    <h1>Text Analysis</h1>
    <p class="title">CEO & Founder, Gavagai</p>
<p style="text-align: left;">
    Here are some comment and facts regarding the prototype and how the implementation is done, in addition, a checklist is provided of what can be improved and what can be implemented in a better way,
</p>   
<br>
<p class="title_b">   Table of Details  </p>
    
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th colspan="2">Check</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Stack</td>
              <td>Angular v4</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">Cross platform </td>
              <td>Web application</td>
      
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Styles </td>
              <td>Bootstrap, CSS, Ng packages, font awesome</td>
      
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">Validation</td>
              <td>Search box, search button and dropdown</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="2">API Validation</td>
              <td>None</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td colspan="2">Routing</td>
              <td>Yes</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td colspan="2">Responsiveness </td>
              <td>Yes</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td colspan="2">Performance </td>
              <td>None</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td colspan="2">Design Thinking</td>
              <td>None</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td colspan="2">Code Documentation</td>
              <td>Partially</td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td colspan="2">Installation instructions</td>
              <td>Partially</td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td colspan="2">What can be improved more</td>
              <td>Using guards, Using await, synchronizing, using active route instep of localStorage, form validation</td>
            </tr>
            <tr>
              <th scope="row">13</th>
              <td colspan="2">Other</td>
              <td>Some details are shown of using sharing data (Local/Session Storage)</td>
            </tr>
         
          </tbody>
        </table>
    <div style="margin: 24px 0;">
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
  </div>
